{"swagger": "2.0", "info": {"title": "CCTV API", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "contact@snippets.local"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "ml-iu5.local.bmstu.ru:8110", "schemes": ["http"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"api_key": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"api_key": []}], "paths": {"/auth/token": {"get": {"operationId": "auth_token_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["auth"]}, "parameters": []}, "/auth/user": {"get": {"operationId": "auth_user_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["auth"]}, "parameters": []}, "/camera/{cameraID}": {"get": {"operationId": "camera_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CameraDetail"}}}, "tags": ["camera"]}, "parameters": [{"name": "cameraID", "in": "path", "description": "A unique integer value identifying this camera.", "required": true, "type": "integer"}]}, "/cameras/{organizationID}/": {"get": {"operationId": "cameras_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CameraList"}}}}, "tags": ["cameras"]}, "parameters": [{"name": "organizationID", "in": "path", "required": true, "type": "string"}]}, "/danger/{dangerID}/": {"get": {"operationId": "danger_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DangerDetail"}}}, "tags": ["danger"]}, "parameters": [{"name": "dangerID", "in": "path", "description": "A unique integer value identifying this danger.", "required": true, "type": "integer"}]}, "/dangers/": {"get": {"operationId": "dangers_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DangerList"}}}}, "tags": ["dangers"]}, "parameters": []}, "/event/": {"post": {"operationId": "event_create", "description": "", "parameters": [{"name": "date", "in": "formData", "required": true, "type": "string", "format": "date"}, {"name": "time", "in": "formData", "required": true, "type": "string"}, {"name": "img", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "danger", "in": "formData", "required": true, "type": "integer"}, {"name": "camera", "in": "formData", "required": true, "type": "integer"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/EventCreate"}}}, "consumes": ["multipart/form-data"], "tags": ["event"]}, "put": {"operationId": "event_update", "description": "", "parameters": [{"name": "video", "in": "formData", "required": false, "type": "string", "maxLength": 100, "minLength": 1, "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EventEdit"}}}, "consumes": ["multipart/form-data"], "tags": ["event"]}, "parameters": []}, "/event/update/{id}": {"post": {"operationId": "event_update_create", "description": "", "parameters": [{"name": "date", "in": "formData", "required": true, "type": "string", "format": "date"}, {"name": "time", "in": "formData", "required": true, "type": "string"}, {"name": "img", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "danger", "in": "formData", "required": true, "type": "integer"}, {"name": "camera", "in": "formData", "required": true, "type": "integer"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/EventCreate"}}}, "consumes": ["multipart/form-data"], "tags": ["event"]}, "put": {"operationId": "event_update_update", "description": "", "parameters": [{"name": "video", "in": "formData", "required": false, "type": "string", "maxLength": 100, "minLength": 1, "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EventEdit"}}}, "consumes": ["multipart/form-data"], "tags": ["event"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/event/{eventID}": {"get": {"operationId": "event_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EventDetail"}}}, "tags": ["event"]}, "parameters": [{"name": "eventID", "in": "path", "description": "A unique integer value identifying this event.", "required": true, "type": "integer"}]}, "/events/organizationID={organizationID}/": {"get": {"operationId": "events_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/EventList"}}}}, "tags": ["events"]}, "parameters": [{"name": "organizationID", "in": "path", "required": true, "type": "string"}]}, "/events/{cameraIDs}/": {"get": {"operationId": "events_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/EventList"}}}}, "tags": ["events"]}, "parameters": [{"name": "cameraIDs", "in": "path", "required": true, "type": "string"}]}, "/events/{cameraID}/": {"get": {"operationId": "events_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/EventList"}}}}, "tags": ["events"]}, "parameters": [{"name": "cameraID", "in": "path", "required": true, "type": "string"}]}, "/module/{moduleID}": {"get": {"operationId": "module_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ModuleDetail"}}}, "tags": ["module"]}, "parameters": [{"name": "moduleID", "in": "path", "description": "A unique integer value identifying this module.", "required": true, "type": "integer"}]}, "/modules/{subscriptionID}/": {"get": {"operationId": "modules_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ModuleList"}}}}, "tags": ["modules"]}, "parameters": [{"name": "subscriptionID", "in": "path", "required": true, "type": "string"}]}, "/organization/{organizationID}/": {"get": {"operationId": "organization_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrganizationDetail"}}}, "tags": ["organization"]}, "parameters": [{"name": "organizationID", "in": "path", "description": "A unique integer value identifying this organization.", "required": true, "type": "integer"}]}, "/specification/{specificationID}/": {"get": {"operationId": "specification_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SpecificationDetail"}}}, "tags": ["specification"]}, "parameters": [{"name": "specificationID", "in": "path", "description": "A unique integer value identifying this specification.", "required": true, "type": "integer"}]}, "/specifications/": {"get": {"operationId": "specifications_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SpecificationList"}}}}, "tags": ["specifications"]}, "parameters": []}, "/subscription/{subscriptionID}": {"get": {"operationId": "subscription_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionDetail"}}}, "tags": ["subscription"]}, "parameters": [{"name": "subscriptionID", "in": "path", "description": "A unique integer value identifying this subscription.", "required": true, "type": "integer"}]}, "/subscriptions/{organizationID}/": {"get": {"operationId": "subscriptions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SubscriptionList"}}}}, "tags": ["subscriptions"]}, "parameters": [{"name": "organizationID", "in": "path", "required": true, "type": "string"}]}, "/user/": {"post": {"operationId": "user_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserCreate"}}}, "tags": ["user"]}, "parameters": []}, "/user/{login}": {"get": {"operationId": "user_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserDetail"}}}, "tags": ["user"]}, "parameters": [{"name": "login", "in": "path", "required": true, "type": "string"}]}, "/user/{userid}": {"get": {"operationId": "user_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserDetail"}}}, "tags": ["user"]}, "put": {"operationId": "user_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserDetail"}}}, "tags": ["user"]}, "patch": {"operationId": "user_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserDetail"}}}, "tags": ["user"]}, "delete": {"operationId": "user_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["user"]}, "parameters": [{"name": "userid", "in": "path", "required": true, "type": "string"}]}, "/users/{organizationID}/": {"get": {"operationId": "users_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserList"}}}}, "tags": ["users"]}, "parameters": [{"name": "organizationID", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"CameraDetail": {"required": ["location", "specification"], "type": "object", "properties": {"cameraID": {"title": "CameraID", "type": "integer", "readOnly": true}, "location": {"title": "Location", "type": "string", "maxLength": 100, "minLength": 1}, "specification": {"title": "Specification", "type": "integer"}}}, "SpecificationCamera": {"required": ["model", "resolution", "motionSensor", "darkMode"], "type": "object", "properties": {"model": {"title": "Model", "type": "string", "maxLength": 100, "minLength": 1}, "resolution": {"title": "Resolution", "type": "string", "maxLength": 100, "minLength": 1}, "motionSensor": {"title": "MotionSensor", "type": "boolean"}, "darkMode": {"title": "DarkMode", "type": "boolean"}}}, "CameraList": {"required": ["location", "specification"], "type": "object", "properties": {"cameraID": {"title": "CameraID", "type": "integer", "readOnly": true}, "location": {"title": "Location", "type": "string", "maxLength": 100, "minLength": 1}, "specification": {"$ref": "#/definitions/SpecificationCamera"}}}, "DangerDetail": {"required": ["title"], "type": "object", "properties": {"title": {"title": "Title", "type": "string", "maxLength": 50, "minLength": 1}}}, "DangerList": {"required": ["title", "description", "imageLink"], "type": "object", "properties": {"dangerID": {"title": "DangerID", "type": "integer", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 50, "minLength": 1}, "description": {"title": "Description", "type": "string", "maxLength": 500, "minLength": 1}, "imageLink": {"title": "ImageLink", "type": "string", "maxLength": 50, "minLength": 1}}}, "EventCreate": {"required": ["date", "time", "img", "danger", "camera"], "type": "object", "properties": {"eventID": {"title": "EventID", "type": "integer", "readOnly": true}, "date": {"title": "Date", "type": "string", "format": "date"}, "time": {"title": "Time", "type": "string"}, "img": {"title": "Img", "type": "string", "minLength": 1}, "danger": {"title": "Danger", "type": "integer"}, "camera": {"title": "Camera", "type": "integer"}}}, "EventEdit": {"type": "object", "properties": {"video": {"title": "Video", "type": "string", "maxLength": 100, "minLength": 1, "x-nullable": true}}}, "EventDetail": {"required": ["date", "time", "img", "camera"], "type": "object", "properties": {"eventID": {"title": "EventID", "type": "integer", "readOnly": true}, "danger": {"title": "Danger", "type": "string", "readOnly": true}, "date": {"title": "Date", "type": "string", "format": "date"}, "time": {"title": "Time", "type": "string"}, "video": {"title": "Video", "type": "string", "maxLength": 100, "minLength": 1, "x-nullable": true}, "img": {"title": "Img", "type": "string", "minLength": 1}, "camera": {"title": "Camera", "type": "integer"}}}, "EventList": {"required": ["date", "time", "img", "camera"], "type": "object", "properties": {"eventID": {"title": "EventID", "type": "integer", "readOnly": true}, "danger": {"title": "Danger", "type": "string", "readOnly": true}, "date": {"title": "Date", "type": "string", "format": "date"}, "time": {"title": "Time", "type": "string"}, "video": {"title": "Video", "type": "string", "maxLength": 100, "minLength": 1, "x-nullable": true}, "img": {"title": "Img", "type": "string", "minLength": 1}, "camera": {"title": "Camera", "type": "integer"}}}, "ModuleDetail": {"required": ["danger"], "type": "object", "properties": {"moduleID": {"title": "ModuleID", "type": "integer", "readOnly": true}, "danger": {"$ref": "#/definitions/DangerDetail"}}}, "ModuleList": {"type": "object", "properties": {"moduleID": {"title": "ModuleID", "type": "integer", "readOnly": true}, "danger": {"title": "Danger", "type": "string", "readOnly": true}}}, "OrganizationDetail": {"required": ["title", "telephoneNumber", "address"], "type": "object", "properties": {"organizationID": {"title": "OrganizationID", "type": "integer", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 50, "minLength": 1}, "telephoneNumber": {"title": "TelephoneNumber", "type": "string", "maxLength": 30, "minLength": 1}, "address": {"title": "Address", "type": "string", "maxLength": 100, "minLength": 1}}}, "SpecificationDetail": {"required": ["model", "resolution", "motionSensor", "darkMode"], "type": "object", "properties": {"specificationID": {"title": "SpecificationID", "type": "integer", "readOnly": true}, "model": {"title": "Model", "type": "string", "maxLength": 100, "minLength": 1}, "resolution": {"title": "Resolution", "type": "string", "maxLength": 100, "minLength": 1}, "motionSensor": {"title": "MotionSensor", "type": "boolean"}, "darkMode": {"title": "DarkMode", "type": "boolean"}}}, "SpecificationList": {"required": ["model", "resolution", "motionSensor", "darkMode"], "type": "object", "properties": {"specificationID": {"title": "SpecificationID", "type": "integer", "readOnly": true}, "model": {"title": "Model", "type": "string", "maxLength": 100, "minLength": 1}, "resolution": {"title": "Resolution", "type": "string", "maxLength": 100, "minLength": 1}, "motionSensor": {"title": "MotionSensor", "type": "boolean"}, "darkMode": {"title": "DarkMode", "type": "boolean"}}}, "ModuleSubscription": {"required": ["danger"], "type": "object", "properties": {"danger": {"$ref": "#/definitions/DangerDetail"}}}, "SubscriptionDetail": {"required": ["modules", "version", "startDate", "endDate"], "type": "object", "properties": {"subscriptionID": {"title": "SubscriptionID", "type": "integer", "readOnly": true}, "modules": {"type": "array", "items": {"$ref": "#/definitions/ModuleSubscription"}}, "version": {"title": "Version", "type": "string", "maxLength": 20, "minLength": 1}, "startDate": {"title": "StartDate", "type": "string", "format": "date"}, "endDate": {"title": "EndDate", "type": "string", "format": "date"}}}, "SubscriptionList": {"required": ["modules", "version", "startDate", "endDate"], "type": "object", "properties": {"subscriptionID": {"title": "SubscriptionID", "type": "integer", "readOnly": true}, "modules": {"type": "array", "items": {"$ref": "#/definitions/ModuleSubscription"}}, "version": {"title": "Version", "type": "string", "maxLength": 20, "minLength": 1}, "startDate": {"title": "StartDate", "type": "string", "format": "date"}, "endDate": {"title": "EndDate", "type": "string", "format": "date"}}}, "UserCreate": {"required": ["login", "firstName", "lastName", "receivingNotification", "organization"], "type": "object", "properties": {"userid": {"title": "Userid", "type": "integer", "readOnly": true}, "login": {"title": "Login", "type": "string", "maxLength": 50, "minLength": 1}, "firstName": {"title": "FirstName", "type": "string", "maxLength": 50, "minLength": 1}, "lastName": {"title": "LastName", "type": "string", "maxLength": 50, "minLength": 1}, "receivingNotification": {"title": "ReceivingNotification", "type": "string", "maxLength": 50, "minLength": 1}, "telephoneNumber": {"title": "TelephoneNumber", "type": "string", "maxLength": 15, "x-nullable": true}, "email": {"title": "Email", "type": "string", "maxLength": 50, "x-nullable": true}, "telegram": {"title": "Telegram", "type": "string", "maxLength": 50, "x-nullable": true}, "role": {"title": "Role", "type": "string", "maxLength": 10}, "organization": {"title": "Organization", "type": "integer"}}}, "UserDetail": {"required": ["login", "firstName", "lastName", "receivingNotification", "organization"], "type": "object", "properties": {"userid": {"title": "Userid", "type": "integer", "readOnly": true}, "login": {"title": "Login", "type": "string", "maxLength": 50, "minLength": 1}, "firstName": {"title": "FirstName", "type": "string", "maxLength": 50, "minLength": 1}, "lastName": {"title": "LastName", "type": "string", "maxLength": 50, "minLength": 1}, "receivingNotification": {"title": "ReceivingNotification", "type": "string", "maxLength": 50, "minLength": 1}, "telephoneNumber": {"title": "TelephoneNumber", "type": "string", "maxLength": 15, "x-nullable": true}, "email": {"title": "Email", "type": "string", "maxLength": 50, "x-nullable": true}, "telegram": {"title": "Telegram", "type": "string", "maxLength": 50, "x-nullable": true}, "role": {"title": "Role", "type": "string", "maxLength": 10}, "organization": {"title": "Organization", "type": "integer"}}}, "UserList": {"required": ["login", "firstName", "lastName", "receivingNotification", "organization"], "type": "object", "properties": {"userid": {"title": "Userid", "type": "integer", "readOnly": true}, "login": {"title": "Login", "type": "string", "maxLength": 50, "minLength": 1}, "firstName": {"title": "FirstName", "type": "string", "maxLength": 50, "minLength": 1}, "lastName": {"title": "LastName", "type": "string", "maxLength": 50, "minLength": 1}, "receivingNotification": {"title": "ReceivingNotification", "type": "string", "maxLength": 50, "minLength": 1}, "telephoneNumber": {"title": "TelephoneNumber", "type": "string", "maxLength": 15, "x-nullable": true}, "email": {"title": "Email", "type": "string", "maxLength": 50, "x-nullable": true}, "telegram": {"title": "Telegram", "type": "string", "maxLength": 50, "x-nullable": true}, "role": {"title": "Role", "type": "string", "maxLength": 10}, "organization": {"title": "Organization", "type": "integer"}}}}}